<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
</head>
<body>

login page

<hr>
<form action="/loginProc" method="post" name="loginForm">
    <input id="username" type="text" name="username" placeholder="id" />
    <input id="password" type="password" name="password" placeholder="password" />
    <input type="submit" value="login" />
</form>
</body>
</html>